.round-new {
    border: 2px solid black;
    width: 250px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.round-new--playerOne {
    color: var(--color-playerOne);
    border-color: var(--color-playerOne);
}

.round-new--playerTwo {
    color: var(--color-playerTwo);
    border-color: var(--color-playerTwo);
}

.round-new > * {
    margin: 5px;
}