.cell {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #aaa;
    transition: background-color 0.3s;
}

.cell--playerOne {
    background-color: var(--color-playerOne);
}
.cell--playerTwo {
    background-color: var(--color-playerTwo);
}