:root {
    --color-playerOne: #f55;
    --color-playerTwo: #fb0;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.circle--playerOne {
    background: var(--color-playerOne);
}

.circle--playerTwo {
    background: var(--color-playerTwo);
}

button {
    background: none;
    border: 2px solid black;
}